Rule(
    id: "12c084ab-f8f3-4271-a96d-97ac7560895c",
    name: "Keypad lutron_72 Btn6 - Living Room Off",
    enabled: true,
    priority: 10,
    tags: [],
    trigger: DeviceStateChanged(
        device_id: "lutron_72",
        attribute: Some("button_6"),
        to: Some("press"),
    ),
    conditions: [
        DeviceState(
            device_id: "hue_001788fffe6841b3_group_f891081e_3da3_49ac_a504_3cfd558b970e",
            attribute: "on",
            op: Eq,
            value: true,
        ),
    ],
    actions: [
        RuleAction(
            enabled: true,
            action: SetDeviceState(
                device_id: "hue_001788fffe6841b3_group_f891081e_3da3_49ac_a504_3cfd558b970e",
                state: {
                    "on": false,
                },
                track_event_value: false,
            ),
        ),
        RuleAction(
            enabled: true,
            action: SetDeviceState(
                device_id: "lutron_72",
                state: {
                    "set_led": {
                        "button": 1,
                        "state": 0,
                    },
                },
                track_event_value: false,
            ),
        ),
    ],
    log_events: false,
    log_triggers: false,
    log_actions: false,
    cancel_on_false: false,
)