Rule(
    id: "45c2d019-9ce4-422b-9186-3d8c21faaa73",
    name: "Startup Check - OH1 Door Open",
    enabled: true,
    priority: 5,
    tags: [
        "garage",
        "door-alerts",
        "startup",
    ],
    trigger: SystemStarted,
    conditions: [
        DeviceState(
            device_id: "yolink_d88b4c01000cf2e5",
            attribute: "open",
            op: Eq,
            value: true,
        ),
    ],
    actions: [
        RuleAction(
            enabled: true,
            action: SetDeviceState(
                device_id: "timer_garage_close",
                state: {
                    "command": "start",
                    "duration_secs": 600,
                },
                track_event_value: false,
            ),
        ),
    ],
    log_events: false,
    log_triggers: false,
    log_actions: false,
    cancel_on_false: false,
)